body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7c75df;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #94e77b;
}

h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

a {
    color: #7c75df;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.left-aligned {
    text-align: left;
}

.italic-text {
    font-style: italic;
}