.container {
    max-width: 3rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .button {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    background-color: #FFF;
    z-index: 999;
    will-change: left;
  }

  .side {
    margin-bottom: '10px';
    width: '16.666%';
    float: 'left';
    padding: '10px';
  }; 